:root {
    --primary-color: rgb(38, 38, 219);
    --secondary-color: rgb(187, 48, 48);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #333;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #fff;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;

}

a:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
}

p {
    margin: .5rem 0;
}

h1,
h2,
h3 {
    margin-bottom: .55rem;
}

/* Utility */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.btn {
    padding: 10px 15px;
    background: rgb(187, 48, 48);
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    border: none;
}

.btn:hover {
    opacity: 0.8;

}

.card {
    background-color: #222;
    padding: 20px;
}

.card h3 {
    padding-top: 10px;
    text-align: center;
}

.card p {
    text-align: center;
    padding: 10px;
}

.box {
    box-shadow: 2px 2px 8px #111;
}

.span-red {
    color: var(--secondary-color);
}

/* Header */
#navbar {
    background: #222;
    border: none;
    border-top: 2px solid rgb(38, 38, 219);
    height: 80px;
    position: sticky;
    top: 0px;
    padding-top: 12px;
    transition: 0.5s;
    opacity: 0.9;
    width: 100%;
}



#navbar .logo {
    font-size: 1.4rem;
    font-family: 'Orbitron', sans-serif;
}

#navbar .social i {
    padding: 5px;
}

#navbar ul {
    display: flex;
}

#navbar ul li a {
    padding: 10px;
    font-size: 1.1rem;
    font-family: 'Orbitron', sans-serif;
}

#navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


#navbar .social a:hover {
    opacity: 0.8;
}

#navbar ul li a:hover {
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;

}

/* Showcase */

#showcase {
    background: url('../img/showcasee.jpg') no-repeat center center/cover;
    height: 60vh;
    width: 100%;
    font-family: 'Orbitron', sans-serif;


}

#showcase h2 {
    padding: 50px 0px 5px 0px;

}

/* Articles */

.article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.container h2 {

    margin-top: 50px;
    font-family: 'Orbitron', sans-serif;
}

.article-container>:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/ span 2;
}

.article-container>:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/ span 2;
}


/* Footer */

#footer {
    background-color: #222;
    margin-top: 40px;
}

#footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0px;
    align-items: center;
    text-align: center;
}

#footer .email {
    margin-right: 10px;
}

.email input {
    margin-top: 5px;
    padding: 3px;
    width: 100%;
}

.email .btn {
    padding: 5px;
}

#footer .container>*:last-child {
    display: grid;
    background: #333;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
    grid-column: 1/ span 3;
    margin-top: 25px;
}